@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary – Deep Navy: trust, security, enterprise */
    --color-background: #000000;

    /* Secondary – Steel Blue: corporate, IT infrastructure */
    --color-secondary: #35B5B3;
    /* Accent – Electric Cyan: CTAs, links, highlights */
    --color-accent: #2A9593;
  }
}

body {
  background-color: var(--color-background);
}
